<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>The Wealth & Health of Nations</title>

<head>
	<title>縣市死因別死亡率比較</title>
	<link rel="stylesheet" href="dist/semantic.min.css">
	<link rel="stylesheet" href="stylesheets/bubble-style.css">
</head>
<body>
<div id='out_timeline-sidebar'>
<div id="timeline-sidebar" class="ui animated selection list">
</div>
</div>
<div class="arrow-left"></div>

<div class="gender-section">
<div class="title-word">
<img src="img/grave.png" id="title_icon" alt="titile">
</div>
<div class="city-name" id="臺北市_title">
TAIPEI CITY
</div>
<div class="tw_bar_out">
<div class="icon">
<img src="img/icon_male-02.svg" id="male_icon" alt="male">
<img src="img/icon_female-03.svg" id="female_icon" alt="female">
</div>
<div class="icon_numbers">
<div class="male_num"></div>
<div class="female_num"></div>
</div>
<div class="tw_bar_male"></div>
<div class="tw_bar_female"></div>
</div>
</div>
<div class="map-section">
	<div class="reasonDrop ui selection dropdown" style="position:absolute; top:2%; width:40%; background-color:#434343; color:lightgray">
   		<input type="hidden" name="reason">
    		<div class="default text">所有死因</div>
    			<i class="dropdown icon"></i>
	   		<div class="menu reason">
     			
    		</div>
  	</div>
	<div id="tw_map">
	</div>
</div>

</body>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="dist/semantic.min.js"></script>
<script src="javascripts/semantic-cus.js"></script>
<script src="javascripts/controller-bubble.js"></script>
<script src="javascripts/vis_twMap-bubble.js"></script>
<script src="javascripts/vis_twBar-bubble.js"></script>
<script src="javascripts/ga.js"></script>
</html>
