﻿<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>death rate by time</title>
	<script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body>
	<script>
		var width=960,height=500;
		var Xscale=d3.scale.linear().domain([0,500000]).range([0,width]),
			Yscale=d3.scale.linear().domain([0,1000]).range([height,0]),
			Rscale=d3.scale.sqrt().domain([0,3000000]).range([0,40]),
			Cscale = d3.scale.category20();
		var chart=d3.select("body").append("svg").attr("width",width+200).attr("height",height+200).append("g").attr("transform","translate(100,100)");
		var Xaxis=d3.svg.axis().orient("bottom").scale(Xscale).ticks(10),
			Yaxis=d3.svg.axis().orient("left").scale(Yscale).ticks(5);
		chart.append("g").attr("class","x_axis").attr("fill","none").attr("stroke","#000").attr("transform","translate(0,"+height+")").call(Xaxis).selectAll("text").attr("fill","#000").attr("stroke","none");
		chart.append("g").attr("class","y_axis").attr("fill","none").attr("stroke","#000").call(Yaxis).selectAll("text").attr("fill","#000").attr("stroke","none");
		chart.append("text").attr("x",width-150).attr("y",height+50).text("縣市可支配所得_95年價格(元)");
		chart.append("text").attr("y",-50).attr("x",-100).attr("transform", "rotate(-90)").text("死亡率(人/每十萬人)");
		
		
		d3.csv("data/city.csv",function(city){
			//篩選資料 只選所有死因 
			var data1=d3.nest().key(function(d){return d.type;}).map(city);
			//依照縣市做排序
			var data2=d3.nest().key(function(d){return d.name;}).entries(data1[0]);
			var dot=chart.selectAll("circle").data(nowyear(1982)).enter().append("circle").attr("class",function(d){return d.name;}).style("fill",function(d){return Cscale(d.name);}).call(position).sort(order).on("mouseover",function(d){return display(d);});
			//年份
			var label=chart.append("text").attr("x",width-100).attr("y",height-30).attr("text-anchor", "end").style("font","200 100px Helvetica Neue").text(1982);
			var box = label.node().getBBox();
			var rect=chart.append("rect").attr("x",box.x).attr("y",box.y).attr("width",box.width).attr("height",box.height).attr("fill","#fff").style("opacity",0.5).on("mouseover",Interaction);
			//縣市資訊
			var info1=chart.append("text").attr("x",100).attr("y",height-30).style("font","200 100px Microsoft JhengHei");
			var info2=chart.append("text").attr("x",400).attr("y",height-80);
			var info3=chart.append("text").attr("x",400).attr("y",height-60);
			var info4=chart.append("text").attr("x",400).attr("y",height-40);
			chart.transition().duration(5000).ease("linear").tween("year",function(){return tweenyear(1982)});
			//縣市資訊顯示
			function display(d){
				chart.transition().duration(0);
				info1.text(d.name);
				info2.text("人口:"+Math.round(d.population)+"人");
				info3.text("所得:"+Math.round(d.income)+"元");
				info4.text("死亡率:"+Math.round(d.deathrate)+'人/十萬人');
				dot.on("mouseout",out);
				
				function out(d){
					info1.text("");
					info2.text("");
					info3.text("");
					info4.text("");
					chart.transition().duration(5000).ease("linear").tween("year",function(){return tweenyear(d.year);});
				}
			}
			//年份互動
			function Interaction(){
				var yearScale = d3.scale.linear()
						.domain([1982, 2012])
						.range([box.x, box.x + box.width])
						.clamp(true);
				
				chart.transition().duration(0);
				rect.on("mousemove",mousemove)
					.on("mouseout", mouseout);
				function mousemove(){
					var y=(yearScale.invert(d3.mouse(this)[0]));
					dot.data(nowyear(y), name).call(position).sort(order); 
					label.text(Math.round(y));
				}
				function mouseout(){
					var y=(yearScale.invert(d3.mouse(this)[0]));
					chart.transition().duration(5000).ease("linear").tween("year",function(){return tweenyear(y)});
				}
			}
			//變化
			function tweenyear(s){
				var year = d3.interpolateNumber(s, 2012);
				return function(t) { dot.data(nowyear(year(t)), name).call(position).sort(order); 
									label.text(Math.round(year(t)));
				};
			}
			//回傳data給circle
			function nowyear(year){
				return data2.map(function(d){		
						var up=Math.ceil(year)-1982,down=Math.floor(year)-1982;
						return{
						name:d.values[Math.round(year)-1982].name,
						income: compute(d.values[up].income,d.values[down].income,year),
						population:compute(d.values[up].population,d.values[down].population,year),
						deathrate:compute(d.values[up].deathrate,d.values[down].deathrate,year),
						year:Math.round(year)
						};
					
				});
			}
			//計算某年的資料
			function compute(upvalue,downvalue,year){
				if(upvalue==downvalue) return Number(upvalue);
				else{
					var t=Number(upvalue)-Number(downvalue);
					return (year-Math.floor(year))*t+Number(downvalue);
				}
			}
			//利用資料判斷點的位置
			function position(dot){
				dot.attr("cx",function(d){ return Xscale(d.income);})
					.attr("cy",function(d){ return Yscale(d.deathrate);})
					.attr("r",function(d){ return Rscale(d.population);});
			}
			//小圓圈在大園上方
			function order(a, b) {
				return b.population - a.population;
			}
		
		})

	</script>


</body>

</html>
