<!DOCTYPE html>
<html lang="en">
	<head>
		<title>縣市死因別死亡率比較</title>
		<link rel="stylesheet" href="stylesheets/style.css">
		<link rel="stylesheet" href="dist/semantic.min.css">
	</head>
	<body>
	
	<div class="ui grid">
	<div class="seven wide column" id="tw_map">
	</div>
	<div class="nine wide column" id="barChart">
	<div class="title"><h2>縣市死因別死亡率比較</h2></div>
	<div class="menuGroup">
				<div class="ui selection dropdown reasonDrop">
			    		<input type="hidden" name="reason">
			    		<div class="default text">所有死因</div>
			    			<i class="dropdown icon"></i>
			   		<div class="menu reason">
			      			
			    		</div>
			  	</div>
				<div class="ui selection dropdown yearDrop">
			    		<input type="hidden" name="year">
			    		<div class="default text">2011-2013</div>
			    			<i class="dropdown icon"></i>
			   		<div class="menu year">
			    		</div>
			  	</div>
				<div class="ui basic button sortmethod">
  					<i class="icon sort"></i>依死亡率排序</div>	
		</div>
	</div>
	</div>
	
	
	</body>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
	<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
	<script src="dist/semantic.min.js"></script>
	<script src="javascripts/vis_twBar.js"></script>
	<script src="javascripts/vis_twMap.js"></script>
	<script src="javascripts/controller.js"></script>
	<script src="javascripts/semantic-cus.js"></script>
	<script src="javascripts/ga.js"></script>
</html>
