<!DOCTYPE html>
<html lang="en">
	<head>
		<title>縣市死因別死亡率比較</title>
		<link rel="stylesheet" href="stylesheets/style-story.css">
		<link rel="stylesheet" href="dist/semantic.min.css">
	</head>
	<body>
	
	<div class="ui grid">
	<div class="five wide column" id="tw_map">
	</div>
	<div class="seven wide column" id="barChart">
	<div class="title"><h2>縣市死因別死亡率比較</h2></div>
	<div class="menuGroup">
				<div class="ui selection dropdown reasonDrop">
			    		<input type="hidden" name="reason">
			    		<div class="default text">所有死因</div>
			    			<i class="dropdown icon"></i>
			   		<div class="menu reason">
			      			
			    		</div>
			  	</div>
				<div class="ui selection dropdown yearDrop">
			    		<input type="hidden" name="year">
			    		<div class="default text">2011-2013</div>
			    			<i class="dropdown icon"></i>
			   		<div class="menu year">
			    		</div>
			  	</div>
				<div class="ui basic button sortmethod">
  					<i class="icon sort"></i>依死亡率排序
				</div>	
				<div class="ui basic button showHL">
  					<i class="toggle on icon showHLicon"></i>顯著高低
				</div>
		</div>
	</div>
	<div class="three wide column" id="story">
	   <div class="story-outbox">
		<div class="story-inbox">
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
			<div id="story-1">1999-2001 糖尿病死亡率</div>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
			<div id="story-2">2002-2004 糖尿病死亡率</div>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
			<div id="story-3">2005-2007 自殺死亡率</div>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
			<div id="story-4">2011-2013 糖尿病死亡率</div>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
		</div>
	   </div>
	   <div class="slide-list">
		   <div class="list-1" data-value="1"></div>
		   <div class="list-2" data-value="2"></div>
		   <div class="list-3" data-value="3"></div>
		   <div class="list-4" data-value="4"></div>
	   </div>	  
	</div>
	</div>

	
	</body>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
	<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
	<script src="dist/semantic.min.js"></script>
	<script src="javascripts/vis_twBar-story.js"></script>
	<script src="javascripts/vis_twMap-story.js"></script>
	<script src="javascripts/controller-story.js"></script>
	<script src="javascripts/semantic-cus.js"></script>
	<script src="javascripts/ga.js"></script>
</html>
