body{
 background-color: #343434;
}
@font-face { font-family: 'Birch Std'; src: url('birch_std/birch_std.eot'); src: url('birch_std/birch_std.eot?#iefix') format('embedded-opentype'), url('birch_std/birch_std.svg#Birch Std') format('svg'), url('birch_std/birch_std.woff') format('woff'), url('birch_std/birch_std.ttf') format('truetype'); font-weight: normal; font-style: normal;}

.title-word{
text-align: center;
}
#title_icon{
width: 300px;
}
.city-name{
font-family: 'Birch Std';
font-size: 50px;
text-align: right;
color: lightgray;
position: relative;
right: 8%;
-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.tw_bar_out{
	text-align: center;
}
#male_icon{
	width: 45px;
	margin-right: 50px;
-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#female_icon{
	width: 45px;
	margin-left: 50px;
-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.tw_bar_female {
	display: inline;
}
.tw_bar_male {
	display: inline;
}

.icon_numbers {
	margin-top: 10px;
}
.male_num {
	display: inline;
	margin-right: 60px;
	font-family: 'Birch Std';
	font-size: 50px;
	color: #57d9d9;
}
.female_num {
	display: inline;
	margin-left: 60px;
	font-family: 'Birch Std';
	font-size: 50px;
	color: #ff29a8;
}
.reasonDrop {
	position: absolute;
	top: 5%;
	width: 80%;
	background-color: #343434;
}
#out_timeline-sidebar{
 height: 100%;
 width: 10%;
 background-color: #595959;
 overflow:hidden;
 float: left;
}

#timeline-sidebar {
 height: 100%;
 width: calc(100% + 25px);
 background-color: #595959;
 overflow: auto;
}

#timeline-sidebar .item{
	margin: 20px;
}

#timeline-sidebar .item .header{
	fontsize: 14px;
	color: white;
	float: left;	
}

.arrow-left {
	position: absolute;
	top: calc(30% + 50px);
	left: 8.5%;
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent; 
	border-right:30px solid #343434; 
	
}

.gender-section {
	height: 100%;
	width: 45%;
	float: left;	
	background-color: #343434; 
}

.map-section {
	height: 100%;
	width: 41%;
	float: right;	
	background-color: #343434; 
}
 
#tw_map {
	position: absolute;
	top: 5%;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}



/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  /*top: 100%;*/
  left: 0;
}

.d3-tip2 {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}



/* Style northward tooltips differently */
.d3-tip2.n:after {
  margin: -1px 0 0 0;
  /*top: 100%;*/
  left: 0;
}
