body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  background-color:rgb(244, 245, 227);
}
.title{
 text-align:center;
}
.menuGroup{
  float: left;
  text-align:center;
}
.notes{
  text-align:center;
  color: SlateGray;
}
.slide-list{
	float:left;
	top: 50%;
	position: relative;
}

.list-1,.list-2,.list-3,.list-4{
margin: 5px;
display:block;
width:20px;
height:20px;
border-radius:66px;
border:4px double #ccc;
font-size:20px;
color:#666;
line-height:100px;
text-align:center;
text-decoration:none;
text-shadow:0 1px 0 #fff;
background:#ddd;
}

.list-1:hover,.list-2:hover,.list-3:hover,.list-4:hover{
border:4px double #bbb;
color:#aaa;
text-decoration:none;
background:#e6e6e6;
cursor:pointer;
}

.active {
color:#aaa;
background:#e6e6e6;
}

.story-inbox{
height:100%;
width:110%;
overflow: auto;
}
.story-outbox{
float:left;
height:100%;
width:80%;
overflow: hidden;
}
#story {
float:left;
top:100px;
height: 300px;
width: 200px;
}
#tw_map {
  float: left;
  top:10px;
  width: 50%;
}
#barChart {
  float: left; 
  left: 20px;
  width: 50%;
}
#barChart #title{
  float: right;
}
.axis path, .axis line{
  fill: none;
  stroke: SlateGray;
  shape-rendering: cirspEdges;
}
.axis text{
  font-size: 11px;
  fill: #999;
}
rect {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.bar:hover {
   filter: alpha(100);
   color: red;
}

path {
  stroke: #fff;
  stroke-width: .5px;
		 /* Firefox */
		-moz-transition-property: opacity;
		-moz-transition-duration: 0.5s;
		/* WebKit */
		-webkit-transition-property: opacity;
		-webkit-transition-duration: 0.5s;
		/* Opera */
		-o-transition-property: opacity;
		-o-transition-duration: 0.5s;
		/* Standard */
		transition-property: opacity;
		transition-duration: 0.5s;
}

path:hover {
   filter: alpha(100);
   opacity: 0.5;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}



/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  /*top: 100%;*/
  left: 0;
}

