body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  background-color:rgb(244, 245, 227);
}
.title{
 text-align:center;
}
.menuGroup{
  float: left;
  text-align:center;
}
.notes{
  text-align:center;
  color: SlateGray;
}

#tw_map {
  float: left;
  top:10px;
  width: 50%;
}
#barChart {
  float: right; 
  left: 20px;
  width: 50%;
}
#barChart #title{
  float: right;
}
.axis path, .axis line{
  fill: none;
  stroke: SlateGray;
  shape-rendering: cirspEdges;
}
.axis text{
  font-size: 11px;
  fill: #999;
}
rect {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.bar:hover {
   filter: alpha(100);
   color: red;
}

path {
  stroke: #fff;
  stroke-width: .5px;
		 /* Firefox */
		-moz-transition-property: opacity;
		-moz-transition-duration: 0.5s;
		/* WebKit */
		-webkit-transition-property: opacity;
		-webkit-transition-duration: 0.5s;
		/* Opera */
		-o-transition-property: opacity;
		-o-transition-duration: 0.5s;
		/* Standard */
		transition-property: opacity;
		transition-duration: 0.5s;
}

path:hover {
   filter: alpha(100);
   opacity: 0.5;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}



/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  /*top: 100%;*/
  left: 0;
}

